* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300vh;
  padding-left: 10%;
  padding-right: 10%;
}

#main h1 {
  font-size: 4.375rem;
  font-weight: 700;
  /* -webkit-text-stroke: 2px white; */
  /* -webkit-text-fill-color: transparent; */
  margin-bottom: 12rem;
  margin-top: 4rem;
  color: white;
}

#things h2 {
  font-size: 3rem;
  font-weight: 500;
  /* -webkit-text-stroke: 2px white; */
  /* -webkit-text-fill-color: transparent; */
  text-align: center;
  color: white;
  margin-bottom: 0.8rem;
}

#things h3 {
  font-size: 2rem;
  font-weight: 500;
  /* -webkit-text-stroke: 2px white; */
  /* -webkit-text-fill-color: transparent; */
  text-align: center;
  color: white;
  margin-bottom: 9rem;
}

h6 {
  color: white;
}

#connect h2 {
  font-size: 3rem;
  font-weight: 500;
  /* -webkit-text-stroke: 2px white; */
  /* -webkit-text-fill-color: transparent; */
  text-align: center;
  color: white;
  margin-bottom: 0.8rem;
}

.card {
  width: 80%;
  margin-bottom: 0rem;
  margin-top: 0rem; 
}



.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  padding: 4px 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-red {
  background-color: #ed155f;
}

#connect-row {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  row-gap: 1.5rem;
}

section {
  font-size: 1rem;
}

#project-title {
  font-size: 2rem;
}

ul {
  padding: 7px 14px 7px 14px;
}

#cards {
  background-color: #23153c;
}

#domain-line {
  margin-top: 15px;
}

#card-title-line {
  margin: 20px;
}

#project-links {
  color: #ed155f;
  margin: 0 1.2rem 0 2rem;
}

#links {
  display: flex;
}

li {
  margin: 7px 0 7px 0;
}

#connect-links {
  color: white;
}

#gradient {
  background: #46AADB;
  background: linear-gradient(to bottom right, #ED155F 0%, #643CAB 82%);
  background: -webkit-linear-gradient(to bottom right, #ED155F 0%, #643CAB 82%);
  background: -moz-linear-gradient(to bottom right, #ED155F 0%, #643CAB 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
  background-clip: text;
}
